In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
os.chdir("../data")

In [32]:
melb_data = pd.read_csv("melbourne-housing-market\Melbourne_housing_FULL.csv")

In [33]:
melb_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [34]:
melb_data.isnull().sum().sort_values(ascending=False)

BuildingArea     21115
YearBuilt        19306
Landsize         11810
Car               8728
Bathroom          8226
Bedroom2          8217
Longtitude        7976
Lattitude         7976
Price             7610
Regionname           3
Propertycount        3
CouncilArea          3
Postcode             1
Distance             1
Date                 0
SellerG              0
Method               0
Type                 0
Rooms                0
Address              0
Suburb               0
dtype: int64

In [35]:
melb_data.shape

(34857, 21)

In [36]:
melb_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [37]:
melb_data =melb_data[melb_data['Price'].notnull()]

In [38]:
melb_data['Longtitude'] =  melb_data['Longtitude'].fillna(melb_data['Longtitude'].median())

In [39]:
melb_data['Car'] =  melb_data['Car'].fillna(melb_data['Car'].median())

In [40]:
melb_data['Bathroom'] =  melb_data['Bathroom'].fillna(melb_data['Bathroom'].median())

In [41]:
melb_data['Bedroom2'] =  melb_data['Bedroom2'].fillna(melb_data['Bedroom2'].median())

In [42]:
melb_data['Landsize'] =  melb_data['Landsize'].fillna(melb_data['Landsize'].mean())

In [43]:
melb_data['Propertycount'] = melb_data['Propertycount'].fillna(melb_data['Propertycount'].mean())

In [44]:
melb_data['Distance'] = melb_data['Distance'].fillna(melb_data['Distance'].mean())

In [45]:
melb_data['CouncilArea'] = melb_data['CouncilArea'].fillna(melb_data['CouncilArea'].mode()[0])

In [46]:
melb_data['Regionname'] = melb_data['Regionname'].fillna(melb_data['Regionname'].mode()[0])

In [47]:
melb_data['Postcode'] = melb_data['Postcode'].fillna(melb_data['Postcode'].mode()[0])

In [48]:
melb_data['Postcode'].mode()[0]

3073.0

In [49]:
melb_data[melb_data['Postcode'].isnull()]

Empty DataFrame
Columns: [Suburb, Address, Rooms, Type, Price, Method, SellerG, Date, Distance, Postcode, Bedroom2, Bathroom, Car, Landsize, BuildingArea, YearBuilt, CouncilArea, Lattitude, Longtitude, Regionname, Propertycount]
Index: []

[0 rows x 21 columns]

In [51]:
melb_data.drop(['YearBuilt'], axis=1 ,inplace=True)

In [52]:
melb_data.drop(['BuildingArea'], axis=1 ,inplace=True)

In [56]:
melb_data.drop(['Lattitude'], axis=1 ,inplace=True)

In [54]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27247 entries, 1 to 34856
Data columns (total 19 columns):
Suburb           27247 non-null object
Address          27247 non-null object
Rooms            27247 non-null int64
Type             27247 non-null object
Price            27247 non-null float64
Method           27247 non-null object
SellerG          27247 non-null object
Date             27247 non-null object
Distance         27247 non-null float64
Postcode         27247 non-null float64
Bedroom2         27247 non-null float64
Bathroom         27247 non-null float64
Car              27247 non-null float64
Landsize         27247 non-null float64
CouncilArea      27247 non-null object
Lattitude        20993 non-null float64
Longtitude       27247 non-null float64
Regionname       27247 non-null object
Propertycount    27247 non-null float64
dtypes: float64(10), int64(1), object(8)
memory usage: 3.3+ MB

In [57]:
melb_data.isnull().sum().sort_values(ascending=False)

Propertycount    0
Regionname       0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
CouncilArea      0
Longtitude       0
Suburb           0
dtype: int64

In [58]:
melb_data.to_csv("melb_data_processed.csv")