In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import os

In [2]:
os.chdir("../data")
os.getcwd()

'd:\\Python\\tensorflowenv\\data'

In [54]:
melb_data = pd.read_csv("melbourne-housing-market\Melbourne_housing_FULL.csv")

In [4]:
y = melb_data['Price']

In [5]:
X = melb_data.drop('Price', axis=1)

In [6]:
X = X.select_dtypes(exclude=['object'])
X

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,2,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,-37.80140,144.99580,4019.0
1,2,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,-37.79960,144.99840,4019.0
2,2,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.80790,144.99340,4019.0
3,3,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,-37.81140,145.01160,4019.0
4,3,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.80930,144.99440,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,6.3,3013.0,4.0,1.0,3.0,593.0,NaN,NaN,-37.81053,144.88467,6543.0
34853,2,6.3,3013.0,2.0,2.0,1.0,98.0,104.0,2018.0,-37.81551,144.88826,6543.0
34854,2,6.3,3013.0,2.0,1.0,2.0,220.0,120.0,2000.0,-37.82286,144.87856,6543.0
34855,3,6.3,3013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6543.0
34856,2,6.3,3013.0,2.0,1.0,0.0,250.0,103.0,1930.0,-37.81810,144.89351,6543.0

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [8]:
X_train.shape

(27885, 12)

In [9]:
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer()
X_train_imputed = pd.DataFrame(my_imputer.fit_transform(X_train))
X_test_imputed = pd.DataFrame(my_imputer.transform(X_test))

In [10]:
X_train_imputed.columns  = X_train.columns
X_train_imputed

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,3.0,7.8,3058.0,4.000000,1.000000,1.00000,417.000000,135.000000,1920.000000,-37.75100,144.976400,11204.0
1,3.0,6.4,3012.0,2.000000,1.000000,1.00000,595.473299,157.644132,1964.981513,-37.79820,144.874500,5058.0
2,3.0,25.2,3173.0,3.082633,1.624131,1.72927,595.473299,157.644132,1964.981513,-37.81059,145.001949,8459.0
3,1.0,4.6,3122.0,1.000000,1.000000,1.00000,0.000000,63.000000,1995.000000,-37.82990,145.042200,11308.0
4,3.0,7.5,3040.0,3.000000,3.000000,1.00000,846.000000,187.000000,1940.000000,-37.75228,144.884290,588.0
...,...,...,...,...,...,...,...,...,...,...,...,...
27880,3.0,4.6,3181.0,3.000000,2.000000,2.00000,595.473299,143.000000,1915.000000,-37.85435,145.010730,7717.0
27881,4.0,20.6,3064.0,4.000000,2.000000,2.00000,576.000000,157.644132,1964.981513,-37.61475,144.921470,5833.0
27882,2.0,11.2,3046.0,3.082633,1.624131,1.72927,595.473299,157.644132,1964.981513,-37.81059,145.001949,8870.0
27883,3.0,13.8,3188.0,3.000000,1.000000,2.00000,595.473299,126.000000,1985.000000,-37.93531,145.017000,5454.0
27884,3.0,7.8,3124.0,3.000000,1.000000,1.00000,405.000000,102.000000,1930.000000,-37.84480,145.071000,8920.0

In [11]:
### CategoricalVariables####

In [72]:

melb_data.isnull().sum()
melb_data.shape
X =melb_data.drop('Price', axis=1)
# melb_data= melb_data.dropna()
y= melb_data['Price']
X = X.select_dtypes(include='object')
# X.isnull().sum().sort_values(ascending=False)
# help(dropna)

X.shape

(8887, 8)

In [73]:

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0)

In [74]:
y_test

1642     1200000.0
8140      540000.0
33985    1002500.0
23081     460000.0
27366     675000.0
           ...
4348      855000.0
9956      500000.0
854      2400000.0
23717     927000.0
10403     925000.0
Name: Price, Length: 2222, dtype: float64

In [80]:
X.columns

Index(['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date', 'CouncilArea',
       'Regionname'],
      dtype='object')

In [76]:
from sklearn.preprocessing import LabelEncoder
lencoder = LabelEncoder()
label_X_train = X_train.copy()
label_X_test = X_test.copy()

In [77]:

for col in X_train.columns:
    
    label_X_train[col] = lencoder.fit_transform(X_train[col])
    label_X_test[col] = lencoder.fit_transform(X_test[col])

In [78]:
label_X_train

       Suburb  Address  Type  Method  SellerG  Date  CouncilArea  Regionname
27414     296     3494     0       1       62     7           30           6
4075      117      202     2       3       13    28           22           6
7886      232     4490     2       3      100    35           18           5
10252     280     2390     2       1       81    59            6           2
31000     191     1260     0       1      219    54           19           7
...       ...      ...   ...     ...      ...   ...          ...         ...
13554     237     1999     0       1      167    72            6           2
30441     145     6253     0       3       28    76            1           5
15315     267       62     0       3       23    56           11           6
9873      269     4792     0       1       13     4            3           6
8273      234      943     0       1      167    43            6           2

[6665 rows x 8 columns]

In [79]:
from sklearn.preprocessing import OneHotEncoder
onehot_enc = OneHotEncoder(sparse=False, handle_unknown='ignore')
onehot_X_train = pd.DataFrame(onehot_enc.fit_transform(X_train[cate_cols]))
onehot_X_test = pd.DataFrame(onehot_enc.transform(X_test[cate_cols]))

In [20]:
onehot_X_train.index = X_train.index
onehot_X_train

,0,1,2,3,4,5,6,7,8,9,...,26444,26445,26446,26447,26448,26449,26450,26451,26452,26453
15770,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3972,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34085,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34092,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33747,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
32103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30403,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
21243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2732,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0